h1{
    font-size: 35px;
}
 #name{
    font-size: 70px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
 }
 .n-color{
    color:rgb(26, 231, 7);
    
 }
 
 .half-width{
   width: 40%;
   float: left;
   margin-left: 50px;
 }
 .half-width img{
   width:100%;
   padding-left: 50px;
   margin-top: 100px;
 }
 .backimg{
  background-image:url(Projects/top-banner.png) ; /*background img set korar jonno*/
  background-repeat: no-repeat;
  }
 
  

 section{
  height: 700px; /*section theke section er distance*/
 }
.link-bt-fb{
  text-decoration: none;
  background-image: linear-gradient(90deg, tomato, lightsalmon);
  padding: 10px 8px;
  border-radius: 5px;
  color: blanchedalmond;
  font-weight: bold;

}
.dream{
  width: 40%;
  float: left;
  margin: 50px;
}
.bkimg{
  background-image: url(Projects/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
  
}
.linkedin{
  text-decoration: none;
  background-image: linear-gradient(90deg, rgb(71, 89, 255), rgb(114, 198, 231));
  padding: 10px 8px;
  border-radius: 5px;
  color: blanchedalmond;
  font-weight: bold;

}
.highlt{
  color: orange;
}
.box-for-text{
  box-shadow: 10px 10px 20px gray ;
  padding: 20px 20px;
  background-color: white;
}
.expartise{
  background-image: url(Projects/exp-bg.png);
  background-repeat: no-repeat;
  background-size: 80px;
  background-position: left;
}
#full-stack{
  border-left:7px solid ;
  border-image: linear-gradient(180deg,  tomato,lightsalmon)  ;
  border-image-slice: 1;
}
#baby-web{
  border-left:7px solid ;
  border-image: linear-gradient(180deg,  blue, cyan)  ;
  border-image-slice: 1;
}
footer{
  text-align: center;
}
  /* ছোট স্ক্রিনের জন্য স্টাইল */
  @media screen and (max-width: 768px) {
    body {
      font-size: 16px;
    }
    .header {
      display: none;
    }
  }
  
  /* বড় স্ক্রিনের জন্য স্টাইল */
  @media screen and (min-width: 769px) {
    body {
      font-size: 18px;
    }
    .header {
      display: block;
    }
  }