h1{
    font-size: 35px;
}
 #name{
    font-size: 70px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
 }
 .n-color{
    color:rgb(26, 231, 7);
    
 }
 #b1{
   height: 55px;
   width: 100px;
   background-color: orange;
   font-size: 20px;
   color: antiquewhite;
 }
 .half-width{
   width: 40%;
   float: left;
   margin-left: 50px;
 }
 .half-width img{
   width:100%;
   padding: 50px;
   margin-left: 60px;
   margin-top: 150px;
 }
 .backimg{
  background-image:url(Projects/top-banner.png) ; /*background img set korar jonno*/
  background-repeat: no-repeat;
  }
 
  

 body{
  height: fit-content; /*background img er jonno jate content er size onujayi fit houar jonno*/
 }
