h1{
    font-size: 35px;
}
 #name{
    font-size: 70px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
 }
 .n-color{
    color:rgb(26, 231, 7);
    
 }
 
 .half-width{
   width: 40%;
   float: left;
   margin-left: 50px;
 }
 .half-width img{
   width:100%;
   padding: 50px;
   margin-left: 60px;
   margin-top: 150px;
 }
 .backimg{
  background-image:url(Projects/top-banner.png) ; /*background img set korar jonno*/
  background-repeat: no-repeat;
  }
 
  

 section{
  height: 800px; /*background img er jonno jate content er size onujayi fit houar jonno*/
 }
.link-bt-fb{
  text-decoration: none;
  background-image: linear-gradient(90deg, tomato, lightsalmon);
  padding: 10px 8px;
  border-radius: 5px;
  color: blanchedalmond;
  font-weight: bold;

}
.dream{

}
